In [1]:
import pandas as pd

In [3]:

df1 = pd.DataFrame({
    "id": [1, 2],
    "name": ["Adam", "Bob"]
})

df2 = pd.DataFrame({
    "id": [3, 4],
    "name": ["Charlie", "Dave"]
})

row_concat = pd.concat([df1, df2])
column_concat = pd.concat([df1, df2],axis=1)
print(row_concat)
print(column_concat)

   id     name
0   1     Adam
1   2      Bob
0   3  Charlie
1   4     Dave
   id  name  id     name
0   1  Adam   3  Charlie
1   2   Bob   4     Dave